DATABASE_URI=postgresql://printbox:CAMBIA_ESTO@db:5432/printbox_db
PAYLOAD_SECRET=genera_uno_con_openssl_rand_hex_32
POSTGRES_USER=printbox
POSTGRES_PASSWORD=cambia_esto_por_password_seguro
POSTGRES_DB=printbox_db
NEXT_PUBLIC_SERVER_URL=https://printbox.tumype.com
NODE_ENV=production
