DATABASE_URI=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@db:5432/POSTGRES_DB
PAYLOAD_SECRET=genera_uno_con_openssl_rand_hex_32
POSTGRES_USER=printbox
POSTGRES_PASSWORD=cambia_esto_por_password_seguro
POSTGRES_DB=printbox_db
NEXT_PUBLIC_SERVER_URL=https://tudominio.com
NODE_ENV=production
